@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Second Writing of this detailed Title</h1>
    <p class="lead">This is all about marks and means nothing more</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to get Marks</h2>
        <p>
            Do the step by step instructions then restart because nothing works how its shown
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get More Marks</h2>
        <p>this some how is about things other then marks so I made it for a reason that isnt marks to get marks</p>
        
    </div>
    <div class="col-md-4">
        <h2>WebDev</h2>
        <p>The easiest thing ever! it only takes hundreds of hours and the accpatance of low wage to do! 
         wooow what a fun time!</p>
    </div>
</div>